extends layout

block content
  h1= title
  - var items = results
  .container-fluid
    .row
      each tea, index in items
        .col-sm-2(onclick=`buy(${index})`)
          h3 #{tea.Tea_flavour}
          p Cost: $#{tea.Tea_cost}
          p Quantity: #{tea.Tea_quantity}ml
  script.
    function buy(index) {
      alert(`you purchased item ${index}`);
    }