extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let Teaid = toShow._id
    - let Tea_flavour = toShow.Tea_flavour
    - let Tea_cost = toShow.Tea_cost
    - let Tea_quantity = toShow.Tea_quantity
    - let actionid = "/resource/teas/" + Teaid

    script.
      let actionid = "#{actionid}"

    div
      div.row
        div(class='TeaAttr mr-3') Tea ID is:
        div #{Teaid}
      div.row
        div(class='TeaAttr mr-3') Tea flavour  is:
        div #{Tea_flavour}
      div.row
        div(class='TeaAttr mr-3') Tea cost is:
        div #{Tea_cost}
      div.row
        div(class='TeaAttr mr-3') Tea quantity is:
        div #{Tea_quantity}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/teas'
      }

      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/teas'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
