extends layout

block content
  h1= title
  - let Teaid = toShow._id
  - let Tea_flavour = toShow.Tea_flavour
  - let Tea_cost = toShow.Tea_cost
  - let Tea_quantity = toShow.Tea_quantity

  div
    div.row(style='margin-bottom: 10px;')
      div(class='TeaAttr mr-3') Tea ID is:
      div(style='font-weight: bold;') #{Teaid}
    
    div.row(style='margin-bottom: 10px;')
      div(class='TeaAttr mr-3') Tea flavour is:
      div(style='color: green;') #{Tea_flavour}
    
    div.row(style='margin-bottom: 10px;')
      div(class='TeaAttr mr-3') Tea cost is:
      div(style='color: blue;') #{Tea_cost}
    
    div.row(style='margin-bottom: 10px;')
      div(class='TeaAttr mr-3') Tea quantity is:
      div(style='color: red;') #{Tea_quantity}
